/*Background*/
#wrapper{
    background-color:deepskyblue;
}
.boxed{
    border: 1px solid black;
}
/*Font*/
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Navigation*/
.topnav {
    overflow: hidden;
    background-color: #333;
    /*Fixed menu on the top*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    /*make sure zomm page will not affect it*/
    max-height: 50px;
}
.topnav a {
    float:left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    /*Effect of select menu*/
    transition: all 0.3s ease;
}
.topnav a:hover {
    background-color:whitesmoke;
    color:black;
}

.topnav a.active{
    background-color:aqua;
    color:black;
}
.topnav input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
}

.topnav a:visited {
    color: red;
}

/*Content*/
body{
    overflow-x: hidden;
    animation-name: hide_scrollbar;
    animation-duration: 1.6s;
    animation-fill-mode: forwards;
}

footer {
    text-align: center;
    color: rgb(122, 224, 19);
    text-transform: uppercase;
    font-style: italic;
    font-size: small;
}

/*Animation for change page*/
.change_page_left {
    background-image: url(/img/door_left.jpg);
    height: 50%;
    width: 50%;
    opacity: 0;
    position: absolute;
    z-index: 51;
    top: 0;
    left: 0;
    animation-name: change_page_left;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes change_page_left {
    0% { background-image: url(/img/door_left.jpg); left: -50%;top: 0%;opacity: 1;z-index: 51}
    50% {background-image: url(/img/door_left.jpg); left: 0%;top: 0%;opacity: 1;z-index: 51}
    100% { background-image: url(/img/door_left.jpg); left: -100%;top: 0%;opacity: 1;z-index: 51}
}

.change_page_right {
    background-image: url(/img/door_right.jpg);
    height: 50%;
    width: 50%;
    opacity: 0;
    position: absolute;
    z-index: 51;
    top: 0;
    right: 0;
    animation-name: change_page_right;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes change_page_right {
    0% { background-image: url(/img/door_right.jpg); left: 50%;top: 0%;opacity: 1;z-index: 51}
    50% { background-image: url(/img/door_right.jpg);left: 0%;top: 0%;opacity: 1;z-index: 51}
    100% { background-image: url(/img/door_right.jpg);left: 100%;top: 0%;opacity: 1;z-index: 51}
}

.animation_background {
    animation-name: animation_background;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    position: relative;
    animation-fill-mode: forwards;
}

@keyframes animation_background {
    0% { background-image:url(/img/animation_background.jpg); z-index: 1;position: fixed;}
    50% { background-image:url(/img/animation_background.jpg); z-index: 1;position: fixed;}
    99% { background-image: url(/img/animation_background.jpg); z-index: 1;position: fixed;}
    100% { background-image: url(/img/animation_background.jpg); z-index: -1;position: fixed;}
}

@keyframes hide_scrollbar {
    0% {overflow-y: hidden;}
    99% {overflow-y: hidden;}
    100% {overflow-y: visible;}
}

.clearfix::after {
    content:"";
    clear: both;
    display: table;
}